---
import BaseLayout from "../layouts/BaseLayout.astro";
import Tile from "../layouts/Tile.astro";
import MoreTile from "../layouts/MoreTile.astro";
const allPosts = await Astro.glob("../pages/posts/*.md");
allPosts.sort((a, b) => Date.parse(b.frontmatter.pubDate) - Date.parse(a.frontmatter.pubDate));
---

<BaseLayout>
  <section class="profile-section">
    <div class="section-content">
      <div class="profile-content">
        <div class="profile-info">
          <h2 class="profile-name">Xuxin Cheng</h2>
          <p class="profile-description">I am a final-year PhD student at UC San Diego. I have had the opportunity to work with Prof. Deepak Pathak at CMU, as well as Prof. Koushil Sreenath, Pieter Abbeel at UC Berkeley. I build real-world robot systems.</p> 
          <p>I love snowboarding and scuba diving in my free time.</p>
        </div>
        <div class="profile-photo">
          <img src="https://s2.loli.net/2023/12/09/BsrxPNblaFwX4IR.jpg" alt="Deng Yu" />
        </div>
      </div>
    </div>
  </section>

  <section class="everydayfeed">
    <div class="section-content">
      <h2 class="section-head">最新文章</h2>
      <ul role="list" class="section-tiles">
        {
          // tile-hero
          allPosts.slice(0, 1).map((post) => {
            return (
              <Tile title={post.frontmatter.title} href={post.url} date={post.frontmatter.pubDate} tags={post.frontmatter.tags} cover={post.frontmatter.cover.url} level="1" />
            );
          })
        }

        {
          // tile-2up
          allPosts.slice(1, 5).map((post) => {
            return (
              <Tile title={post.frontmatter.title} href={post.url} date={post.frontmatter.pubDate} tags={post.frontmatter.tags} cover={post.frontmatter.cover.url} level="2" />
            );
          })
        }

        {
          // tile-3up
          allPosts.slice(5, 11).map((post) => {
            return (
              <Tile title={post.frontmatter.title} href={post.url} date={post.frontmatter.pubDate} tags={post.frontmatter.tags} cover={post.frontmatter.cover.url} level="3" />
            );
          })
        }
      </ul>
    </div>
    <div class="view-archive-wrapper">
        <a href="/archive" class="cta-primary-light" data-analytics-region="router" data-analytics-title="view archive">阅读所有文章</a>
    </div>
  </section>

  <script is:inline>
    document.addEventListener("DOMContentLoaded", function () {
      var script = document.createElement("script");
      script.src = "/static/js/animation.js";
      document.head.appendChild(script);

      script.onload = function () {
        console.log("lazyload.js loaded");
        // when layout is loaded, load the images
        initImage();
      };
    });
  </script>
</BaseLayout>

<style>
  .profile-section {
    margin-bottom: 40px;
  }
  
  .profile-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .profile-info {
    max-width: 60%;
  }
  
  .profile-name {
    font-size: 2rem;
    font-weight: bold;
  }
  
  .profile-description {
    font-size: 1rem;
    color: #555;
    line-height: 1.6;
  }
  
  .profile-photo img {
    height: 100%;
    width: auto;
    border-radius: 8px;
  }
  
  .profile-photo {
    flex-shrink: 0;
    max-width: 30%;
    height: 100%;
  }
</style>
